@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --bg-color: #F59E0B;
    --f-color: #FFFFFF;
    --block-color: #FBBF24;
}

h1,
h3 {
    text-align: center;
    margin-bottom: 2rem;
}

h2 {
    margin: 2rem;
    line-height: 2.5rem;
}

/* link */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: var(--f-color);
}

/* lists */

.list-non-bullet {
    list-style: none;

}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
    font-size: 1.3rem;
}

.link-active {
    font-weight: bold;
    color: black;
}


.navigation .nav-brand {
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 2rem;
}

.navigation {
    background-color: var(--bg-color);
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
}

.navigation .nav-pills {
    text-align: right;
}

/* container */

.container {
    width: 100%;
    max-width: 500px;
    min-height: 200px;
    text-align: center;
    margin: auto;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    border-radius: 2rem;
    border-width: 0.2rem;
    border-color: var(--block-color);
    outline: var(--f-color);
}

button {
    padding: 0.5rem;
    font-weight: bold;
    background-color: var(--block-color);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

button:hover {
    background-color: #FDE68A;
}

.output {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 2rem;
}




  