@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --bg-color: #F59E0B;
    --f-color: #FFFFFF;
    --block-color: #FBBF24;
}

.quiz-main {
    margin: 2rem auto;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 1rem;
    width: 90%;
    text-align: center;
    height: 100vh;
}

.question-container {
    width: 85%;
    margin: 1rem auto;
    font-size: larger;
    padding: 1rem 0;
}

.question-container p {
    margin: 1rem 0;
    font-weight: bold;
}

h1,
h3 {
    text-align: center;
    margin-bottom: 2rem;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: var(--f-color);
}

/* lists */

.list-non-bullet {
    list-style: none;

}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
    font-size: 1.3rem;
}

.link-active {
    font-weight: bold;
    color: black;
}


.navigation .nav-brand {
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 2rem;
}

.navigation {
    background-color: var(--bg-color);
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
}

.navigation .nav-pills {
    text-align: right;
}

/* button */

button {
    padding: 0.5rem;
    font-weight: bold;
    background-color: var(--block-color);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}



.output {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 2rem;
}